<ng-content></ng-content>

<div [class]="_compactMode? 'menu-container-compact': ' menu-container'">
  <dx-tree-view [items]="items" keyExpr="path" selectionMode="single" [focusStateEnabled]="false" expandEvent="click"
    (onItemClick)="onItemClick($event)" width="100%">
    <dxi-item class="trying" *ngIf="!_compactMode">
      <span class="material-symbols-outlined">
        home
      </span>
      <span class="text" (click)="actionRouteHome()">
        Home
      </span>
    </dxi-item>
    <dxi-item class="trying-compact" *ngIf="_compactMode">
      <span class="material-symbols-outlined">
        home
      </span>
    </dxi-item>
    <dxi-item class="trying" *ngIf="!_compactMode">
      <span class="material-symbols-outlined">
        monetization_on
      </span>
      <span class="text" (click)="actionRouteOpportunities()" >
        Opportunites
      </span>
    </dxi-item>
    <dxi-item class="trying-compact" *ngIf="_compactMode">
      <span class="material-symbols-outlined">
        monetization_on
      </span>
    </dxi-item>
    <dxi-item class="trying" *ngIf="!_compactMode">
      <span class="material-symbols-outlined">
        event
      </span>
      <span class="text">
        Appoiment
      </span>
    </dxi-item>
    <dxi-item class="trying-compact" *ngIf="_compactMode">
      <span class="material-symbols-outlined">
        event
      </span>
    </dxi-item>
    <dxi-item class="trying" *ngIf="!_compactMode">
      <span class="material-symbols-outlined">
        perm_contact_calendar
      </span>
      <span class="text">
        Attendance
      </span>
    </dxi-item>
    <dxi-item class="trying-compact" *ngIf="_compactMode">
      <span class="material-symbols-outlined">
        perm_contact_calendar
      </span>
    </dxi-item>
  </dx-tree-view>
</div>
