<dx-drawer class="drawer" position="before" [closeOnOutsideClick]="shaderEnabled" [openedStateMode]="menuMode"
  [revealMode]="menuRevealMode" [minSize]="minMenuSize" [shading]="shaderEnabled" [(opened)]="menuOpened">
  <app-side-navigation-menu [compactMode]="!menuOpened" [selectedItem]="selectedRoute" class="dx-swatch-additional"
    *dxTemplate="let dataMenu of 'panel'" (selectedItemChanged)="navigationChanged($event)"
    (openMenu)="navigationClick()">
    <div class="navigation-header" *ngIf="menuOpened">
      <img src="./../../../assets/images/logo.svg" alt="Logo" width="100%" height="40px" />
      <div class="close-button" (click)="toggleMenu($event)">
        <span class="material-symbols-outlined">
          close
        </span>
      </div>
    </div>
    <div class="navigation-header-compact" *ngIf="!menuOpened">
      <img src="./../../../assets/images/icon.svg" alt="Logo" width="40px" height="36px" style="cursor: pointer;"
        (click)="toggleMenu($event)" />
    </div>
  </app-side-navigation-menu>

  <div class="container">
    <app-header [menuToggleEnabled]="minMenuSize === 0" (menuToggle)="menuOpened = !menuOpened;">
    </app-header>

    <dx-scroll-view class="layout-body with-footer">
      <div class="content">
        <ng-content></ng-content>
      </div>

      <div class="content-block">
        <ng-content select="app-footer"></ng-content>
      </div>
    </dx-scroll-view>
  </div>
</dx-drawer>
